<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Onregelmatige werkwoorden{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <style>
        table, th, td {
            border:1px solid black;
        }
    </style>
    <body>
        <h2>Onregelmatige werkwoorden</h2>

        <table style="width:50%">
            <tr>
                <th></th>
                <th>Infinitief</th>
                <th>Imperfectum enkelvoud</th>
                <th>Imperfectum meervoud</th>
                <th>Perfectum</th>
                <th>Engels</th>
            </tr>
                {% for irregular_verb in irregular_verbs %}
                    <tr>
                        <td>
                            <a href="/verb/{{ irregular_verb.id }}">{{ irregular_verb.id }}</a>
                        </td>
                        <td>{{ irregular_verb.nlInfinitive }}</td>
                        <td>{{ irregular_verb.nlSimplePastSingular }}</td>
                        <td>{{ irregular_verb.nlSimplePastPlural }}</td>
                        <td>{{ irregular_verb.nlPastParticiple }}</td>
                        <td>{{ irregular_verb.enInfinitive }}</td>
                    </tr>
                {% endfor %}
        </table>
    </body>
</html>